.btn {
  width: 160px;
  height: 40px;
  margin-top: 10px;
  margin-bottom: 30px;
  margin-left: 50%;
  transform: translateX(-50%);
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  color: rgb(255, 255, 255);
  background-color: rgb(44, 51, 184);
  box-shadow: rgb(83, 243, 249) 3px 3px 3px, rgb(9, 175, 86) 3px 3px 3px;
}

.btn:hover,
.btn:focus {
  color: rgb(245, 245, 249);
  background-color: rgb(77, 176, 58);
  box-shadow: rgb(72, 169, 249) 0px 8px 10px, rgb(14, 154, 236) 0px 6px 6px;
}
